<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Create a folder</h1>

    <form method="post" action="/create_a_folder">
        <label>Name your folder</label>
        <input type="text" name="folderName" />
        <button type="submit">Submit</button>
    </form>



    <a href="/">Back to home</a>

</body>
</html>