<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A User</title>
</head>
<body>
    

    <form method="post" action="/create_user" id="user-login-form">
        <label>Username</label>
        <input type="text" name="username" required>
    
        <label>Password</label>
        <input type="password" name="password" required>

        <% if (errors && errors.length > 0) { %>
            <ul>
              <% errors.forEach(function(error) { %>
                <li><%= error.msg %></li>
              <% }); %>
            </ul>
          <% } %>
    
        <button type="submit">Submit</button>
    </form>



</body>
</html>