<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Create a folder</title>
</head>
<body>
    
    <h1>Create a folder</h1>

    <form method="post" action="/create_a_folder">
        <label>Name your folder</label>
        <input type="text" name="folderName" />
        <button type="submit">Submit</button>
    </form>



    <a href="/">Back to home</a>
      
      <% if (messages && messages.length > 0) { %>
        <ul id="message-styles">
          <li><%= messages[0] %></li>
        </ul>
        
      <% } %>

      <script> 

        const messageStyles = document.getElementById('message-styles');
        if (messageStyles) {
          setTimeout(() => {
            messageStyles.style.display = 'none';
          }, 3000);
        }

      </script>




</body>
</html>