<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create a file</h1>
    
    <form action="/create_a_file/uploads" method="post" enctype="multipart/form-data">
        <label>Upload a file</label>
        <input type="file" name="file" />
        <button>Submit</button>
    </form>

    <% if (errors && errors.length > 0) { %>
      <ul>
        <% errors.forEach(function(error) { %>
          <li><%= error %></li>
        <% }); %>
      </ul>
    <% } %>
    
    <% if (messages && messages.length > 0) { %>
      <ul>
        <li><%= messages[0] %></li>
      </ul>
    <% } %>
    
    <a href="/">Back to home</a>
      
</body>
</html>