<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Create A User</title>
</head>
<body class="create-a-user-body-styles">
    
    <h1 class="create-user-header-text">Create A User</h1>

    <form method="post" action="/create_user" id="user-login-form">
        <label>Username</label>
        <input type="text" name="username" required>
        <label>Password</label>
        <input type="password" name="password" required>
        <button type="submit" class="create-user-submit-btn">Submit</button>
    </form>

    <br>

    <button class="create-user-back-to-home-button-styles">
    <a href="/">Back To Home</a>
    </button>

    <br>
    <br>

    <% if (errors && errors.length > 0) { %>
      <% errors.forEach(function(error) { %>
        <div id="message-styles"><%= error.msg %></div>
      <% }); %>
  <% } %>

  <% if (messages && messages.length > 0) { %>
      <% messages.forEach(function(message) { %>
        <div id="message-styles"><%= message.msg %></div>
      <% }); %>
  <% } %>

  <script> 

    const messageStyles = document.getElementById('message-styles');
    if (messageStyles) {
      setTimeout(() => {
        messageStyles.style.display = 'none';
      }, 10000);
    }

  </script>

</body>
</html>