<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% if (user) { %>
      <h1>WELCOME <%= user.username %></h1>
      <form action="/log_out?_method=DELETE" method="post">
        <button type="submit">Log out</button>
      </form>
     <button> <a href="create_a_file">Create a file</a> </button>
     <button> <a href="create_a_folder">Create a folder</a> </button>
    <% } %>

   <button> <a href="login">Login</a> </button> 
  <button> <a href="create_user">Create User</a> </button> 
  <button> <a href="view_folders">View Folders</a> </button>


  </body>
</html>
