<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body class="login-page-body-styles">
    
    <h1 class="login-header-text">Login</h1>

    <% if (locals.errorMessage) { %>
        <p style="color: red;"><%= errorMessage %></p>
      <% } %>

    <form method="post" action="/login" id="user-login-form">
        <label>Username</label>
        <input type="text" name="username" required>
    
        <label>Password</label>
        <input type="password" name="password" required>
    
        <button type="submit" class="user-login-submit-btn">Submit</button>
    </form>

    <br>

    <button class="login-back-to-home-btn">
    <a href="/">Back to home</a>
    </button>

</body>
</html>