<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Update Folder</title>
</head>
<body class="update-folder-body-styles">
    
    <h1 class="update-folder-header-text">Update Folder</h1>

    
    <form method="post" action="/update_folder/<%= folder.id %>" class="update-folder-form-styles">
    <label>Change Folder Name</label>
    <input type="text" name="folderName" value="<%= folder.name %>" />
    <br>
    <button type="submit" class="update-folder-btn-styles">Submit</button>
    </form>


    <br>

    <% if (errors && errors.length > 0) { %>
        <ul>
          <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
          <% }); %>
        </ul>
      <% } %>

      <button class="update-folder-btn-styles"> 
        <a href="/">Back To Home</a>
      </button>

      <br>

      <button class="update-folder-btn-styles"> 
        <a href="/view_folders">Back To Folders</a>
        </button>



      


</body>
</html>