<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>View all folders</h1>

    <ul>
        <% displayAllFolders.forEach(function(folder) { %>
          <h1><%= folder.name %></h1>

          <form action="/delete_folder/<%= folder.id %>?_method=DELETE" method="post">
          <button><a>Delete</a></button>
          </form>

          <form method="get" action="/update_folder/<%= folder.id %>">
          <button>Edit</button>
          </form>


        <% }) %>
      </ul>

      <a href="/">Back to home</a>
      

</body>
</html>