body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(31, 31, 143);
}


a {
  color: #00B7FF;
}

.user-header-styles { 
  color: white;
}

.homepage-container-styles { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.log-in-get-started-text, 
.login-header-text { 
  color: white;
  font-size: 2rem;
  
}

.file-uploader-header-text { 
  color: white;
  font-size: 2.5rem;
}

.login-text-homepage-styles  {
  margin-bottom: 1rem;
}

.login-text-homepage-styles, 
.create-user-text-homepage-styles,
.user-login-buttons-styles,
.user-login-buttons-styles { 
  color: black;
  font-size: 1rem;
  border-radius: 1rem;
  padding: 0.5rem;
  border: none;
}

.login-text-homepage-styles a, 
.create-user-text-homepage-styles a,
.user-login-buttons-styles a { 
  color: inherit;
  text-decoration: none;
}



body label { 
  color: white;
  font-weight: bold;
}
.login-page-body-styles { 
  text-align: center;
  background-color: rgb(31, 31, 143);
}

#user-login-form { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#user-login-form button,
.user-login-buttons-styles { 
  margin-top: 1rem;
}



/* folder styles */ 

.folder-container-styles { 
  width: 5rem;
  height: 5rem;
  text-align: center;
  background-color: tan;
}

.folder-container-styles a { 
  text-decoration: none;
  color: black;
}
